<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Local events and Taxi information</title>
  <meta name="description" content="Local area and Taxi information in Catterick garrison." />
  <meta name="keywords" content="taxi catterick, airport transfers, catterick taxi, taxi information" />
  <% include ../partials/header %>

  <div class="hero hero--blogs"></div>
  <div class="content">
    <h2>Catterick taxi guide</h2>
    <p><time>17th July 2019</time></p>
    <p>
      I often get customers telling me they have been charged more for the
      same journey with another taxi, so I am going to explain why this
      shouldn't happen<a href="blogs/taxiguide"> ...Read more</a>
    </p>

    <div class="content__section">
      <h2>Days out in the local area</h2>
      <p><time>25th July 2019</time></p>
      <p>
        Looking for some inspiration for things to do in the Catterick area
        this summer. We have put together a list of recommendations to help
        you out<a href="blogs/daysout"> ...Read more</a>
      </p>
    </div>

    <div class="home-page-link">
      <div class="content__section">
        <a href="/"><i class="fas fa-arrow-circle-left"></i> Back to homepage</a>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>