

// Colors

$grey: #333;
$taxi-yellow: #f7b731;
$white: #fff;
$primary-light: #eceff1;
$primary: #819ca9;
$primary-dark: #546e7a;


$block-margin: 50px auto 30px;
$block-width: 95%;
$section-padding: 0 0 20px;
$mobile-breakpoint: 790px;
