@import "normalize";
@import "config";
@import "components/index";


// ELEMENT STYLES

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  max-width: 100%;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
  font-family: Georgia, serif;
  color: #111;
  background-color: $primary-light;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: #111;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

a:visited{
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}

// CLASS STYLES

.alert{
  position: absolute;
  top: 80px;
  left: 5%;
  width: 90%;
  padding: 30px 20px;
  border-radius: 10px;

  &__close-button{
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &_success{
    background-color: #009944;
    color: $white;
  }

  &_error{
    background-color: #cf000f;
    color: $white;
  }
}

.container {
  margin: 0;
  padding: 0;
}

// SECTION STYLES

.about,
.current-offers,
.safe-taxi,
.great-service,
.airport-transfers,
.station-transfers,
.more-contact-info,
.contact-page,
.station-page,
.airport-page {
  border-top: 2px solid $taxi-yellow;
  padding: $section-padding;
}

.text-block {
  margin: $block-margin;
  padding: 0;
  width: $block-width;
  &__h1, &__h2, &__h3{
    border-bottom: 2px solid $taxi-yellow;
    display: inline-block;
    margin: 20px 0;
  }
  &__h1 {
    font-size: 1.5rem;
  }
  &__h2 {
    font-size: 1.3rem;
  }
  &__h3 {
    font-size: 1.2rem;
  }
  &__h4 {
    font-size: 1.1rem;
  }
  &__p {
    margin: 20px 0;
    padding: 0 0 20px;
    
    &_bold {
      font-weight: bold;
    }
  }
  &__ul{
    padding: 0 20px;

    & li{
      margin: 10px 0 0 0;
    }
  }
}

.picture {
  margin: 0 0 50px 0;
  display: block;
  width: 100%;
}

// NAV STYLES

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 100%;
  margin: 0;
  height: 70px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: #eee;
  border-bottom: 2px solid $taxi-yellow;

  &__logo {
    width: 40%;
  }
  &__link {
    display: inline-block;
  }
  &__img {
    width: 100%;
  }
  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    top: 70px;
    left: 0;
    transition: 0.5s;
    background-color: $primary-light;
  }
  &__item {
    margin: 20px 0;
    padding: 4px 10px;
  }
  &__link {
    font-weight: bold;
    color: $grey;
  }
}



// MENU BUTTON



// HERO STYLES

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  color: $white;
  background-color: rgba(0, 0, 255, .5);
  &__icon{
    margin: 0;
    padding: 0 2.5%;
  }
  &__text{
    flex-basis: 90%;
    text-align: left;
    font-size: 0.8rem;
    margin: 10px auto;
  }
  &__close-button{
    position: absolute;
    top: 5px;
    right: 5px;
    & button{
      background: none;
    color: $white;
    font-weight: bold;
    }
    
  }
}

.hero {
  margin: 70px 0 0;
  padding: 0;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // webp images

  .webp &_main {
    background-image: url("/imgs/googlecover.webp");
  }

  .no-webp &_main {
    background-image: url("/imgs/googlecover.jpg");
  }

  .webp &_station {
    background-image: url("/imgs/stationhero.webp");
  }

  .no-webp &_station {
    background-image: url("/imgs/stationhero.jpg");
  }

  .webp &_airport {
    background-image: url("/imgs/airporthero.webp");
  }

  .no-webp &_airport {
    background-image: url("/imgs/airporthero.jpg");
  }

  .webp &_blogs {
    background-image: url("/imgs/bloghero.webp");
  }

  .no-webp &_blogs {
    background-image: url("/imgs/bloghero.jpg");
  }

  .webp &_taxiguide {
    background-image: url("/imgs/taxiguidehero.webp");
  }

  .no-webp &_taxiguide {
    background-image: url("/imgs/taxiguidehero.jpg");
  }

  .webp &_daysout {
    background-image: url("/imgs/daysouthero.webp");
  }

  .no-webp &_daysout {
    background-image: url("/imgs/daysouthero.jpg");
  }
}

// ABOUT STYLES

.what-we-do {
  margin: $block-margin;
  padding: 30px 0;
  width: $block-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $primary-dark;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  &__icon {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
    & i {
      padding-bottom: 10px;
    }
  }
}

// OFFERS SECTION

.current-offers {
  background-color: $primary-dark;
  color: $white;
}

.current-offers h2 {
  color: $white;
}

.offer {
  margin: $block-margin;
  padding: 0;
  background-color: $white;
  color: #333;
  margin: $block-margin;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: 300px;

  &__h3 {
    height: 20%;
    margin: 0;
    padding: 20px 0;
    color: #333;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid $taxi-yellow;
    background-color: $primary-light;
  }
  &__text {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 50px 0 20px;
    & p {
      margin: 0 auto 20px;
      width: 80%;
      font-size: 0.9rem;
    }
  }
  &__conditions {
    margin: 0 auto;
    padding: 0;
    padding-top: 10px;
    width: 80%;
    & span {
      display: block;
      font-weight: bold;
      font-size: 0.7rem;
    }
  }
}

// SAFE TAXI STYLES

.safe-taxi {
  background-color: $primary-dark;
  color: $white;
}

.safe-taxi h2, .safe-taxi h3{
  color: $white;
}

.call-button{
  background-color: $taxi-yellow;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 3px #999;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
}

// DAYS OUT STYLES

.travel-infographic{
  background-color: $primary-dark;
  color: $white;
  padding: 30px 20px 20px;

  &__icon{
    color: $taxi-yellow;
    text-align: center;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px auto;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid $taxi-yellow;
  }
    &__info{
      text-align: center;
      font-size: 0.9rem;
      margin-bottom: 30px;
    }
    &__h4{
      color: $white;
    }
    &__ul{
      margin: 20px 20px 0;
      padding:0;

      & li{
        margin: 20px 0;
      }
    }
    & a{
      color: $taxi-yellow;
    }
}

// CONTACT PAGE STYLES

.contact-page{
  margin: 70px 0 0;
  background-color: $primary-dark;
  color: $white;

  & h1, & h2{
    color: $white;
  }
}

.form{
  display: flex;
  flex-direction: column;
  width: $block-width;
  margin: $block-margin;
  
  &__input{
    margin: 10px 0;
    padding: 10px;
  }
  &__button{
    background-color: $taxi-yellow;
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__checker{
    display: none;
  }
}


.qa{
  margin: 20px 0;
}
.qa p:nth-of-type(2){
  background-color: $white;
  padding: 10px;
}
.qa.hide-answer p:nth-of-type(2){
  height: 0;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

// FOOTER STYLES

footer {
  color: $white;
  background-color: $primary-dark;
  margin: 0;
  padding: 10px 0 4px;
}

footer span {
  display: block;
  margin: 10px 0;
}

footer a {
  color: #eee;
}

.media-icons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto 0;
}

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}

.copyright span {
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

@media only screen and (min-width: $mobile-breakpoint) {
  $section-padding: 50px 100px;
  
  .call-button{
    display: none;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container .text-block {
    order: -1;
  }

  // NAV STYLES

  .hamburger {
    display: none;
  }

  .nav {
    padding: 0 100px;
    &__logo {
      width: 8rem;
    }
    &__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      background-color: transparent;
      position: static;
      height: 70px;
      color: $grey;
    }
    &__item {
      margin: 0;
      padding: 0 20px;
    }
    &__link:hover {
      color: $taxi-yellow;
    }
  }

  // HERO STYLES

  .hero{
    height: 400px;
  }

  .text-block {
    margin: 0 10% 0 0;
    padding: 0;
    width: 50%;
    &__p{
      margin: 10px 0;
    }
  }

  .picture {
    margin-top: 100px;
    align-self: center;
    width: 40%;
  }

  // SECTION STYLES

  .about,
  .current-offers,
  .airport-transfers,
  .safe-taxi,
  .great-service,
  .station-transfers,
  .desktop-page,
  .contact-page,
  .FAQS {
    padding: $section-padding;
  }


  // about styles

  .what-we-do {
    margin: 0;
    padding: 0;
    width: 40%;
  }

  // offers

  .current-offers {
    margin: 0;

    & .text-block {
      width: 40%;
    }
  }

  .offer {
    margin: 0 20px;
    width: 35%;
    &__h3 {
      padding: 20px;
    }

    &__text {
      padding: 20px;
    }
  }

  // DESKTOP PAGE STYLES

  .desktop-page .text-block{
    width: 70%;
  }

  .travel-infographic{
    width: 50%;
  }
  
  // FOOTER STYLES

footer {
  padding: $section-padding;
  padding-bottom: 10px;
}


.media-icons {
  justify-content: flex-start;
  margin: 30px 0 20px;

  & i{
    display: inline-block;
    margin-right: 20px;
  }
}

.copyright{
  margin-top: 20px;
  text-align: left;
}
.copyright span {
  font-size: 1rem;
}

  
}
