<footer>
	<div class="content">
		<div class="media-icons">
			<a href="https://g.page/sltaxi-catterick-garrison?gm"><i class="fab fa-2x fa-google"></i></a>
			<a href="https://www.facebook.com/SLTaxiCatterick"><i class="fab fa-2x fa-facebook"></a></i>
			<a href="https://www.instagram.com/sltaxicatterick"><i class="fab fa-2x fa-instagram"></i></a>
			<a href="https://twitter.com/sltaxicatterick"><i class="fab fa-2x fa-twitter"></i></a>
		</div>
		<div class="text-block">
			<span>
				SLTaxi
			</span>
			<span>Tel: <a href="tel:01748883370">01748 883370</a></span>
			<span>
				Email: <a href="mailto:sltaxicatterick@gmail.com">sltaxicatterick@gmail.com</a> <br>

			</span>

		</div>



		<div class="privacy">
			<a href="https://www.iubenda.com/privacy-policy/74435134" class="iubenda-white no-brand iubenda-embed"
				title="Privacy Policy ">Privacy Policy</a>

		</div>

		<div class="copyright">
			<span class="copy">SLTaxi is a trading name of Simon Lavery.</span>
			<span class="copy">&copy; 2020 All rights reserved.</span>
		</div>

	</div>

	<!-- main site js  -->
	<script type="text/javascript" src="/js/index.js"></script>

	<!-- this script loads the privacy policy button link -->
	<script
		type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>


	<!-- this script checks to see if the browser supports web-p images
	and adds the class webp or no-webp -->
	<script src="/js/modernizr-custom.js"></script>
</footer>

</body>

</html>