<nav class="navbar">

  <!-- content-container -->
  <div class="content">

    <div class="flex-row">

      <a class="nav-logo" href="/"><img src="/imgs/logo2.png" alt="SLTaxi logo" /></a>
      <ul id="nav" class="nav">
        <li class="nav__item"><a href="/" class="nav__link">HOME</a></li>
        <li class="nav__item"><a href="/station" class="nav__link">STATION</a></li>
        <li class="nav__item"><a href="/airport" class="nav__link">AIRPORT</a></li>
        <li class="nav__item"><a href="/blogs" class="nav__link">BLOG</a></li>
        <li class="nav__item"><a href="/contact" class="nav__link">CONTACT</a></li>
      </ul>
      <button id="menuButton" class="hamburger" type="button">
        <span class="hamburger__box">
          <span class="hamburger__inner"></span>
        </span>
      </button>

    </div>

  </div>

  </div>
</nav>