<!DOCTYPE html />
<html>

<head>
  <% include ./partials/google-analytics %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contact SLTaxi Catterick garrison here for bookings or quotes</title>
  <meta name="description"
    content="We are always happy to hear from out customers from feedback to no obligation quotes, find the best ways to get in touch here.">
  <link href="https://sltaxicatterick.co.uk/contact" rel="canonical">
  <% include ./partials/header %>

  <% if(error && error.length > 0) {%>
  <div class="alert alert_error">
    <p><%= error %></p>
    <div class="alert__close-button">
      <button onclick="closeAlert()">X</button>
    </div>
  </div>

  <%}%>
 <section class="contact-page">
   
    <div class="content">
      <div class="contact-page-grid">
        <div class="contact-intro">
          <h1>Contact us</h1>
          <p>Please fill out the contact form and we will get back to you as soon as possible</p>
        </div>
        
     
      <div class="contact-form">
        <form class="form" action="/contact" method="POST">
          <input class="form__input" type="text" name="name" placeholder="Name"/>
          <input class="form__input" type="email" name="email" placeholder="Email address"/>
          <textarea class="form__input" rows="10" name="messages" placeholder="Enter your message..."></textarea>
          <input class="form__checker" value="" type="text" name="url" placeholder="url"/>
          <button class="btn" type="submit">Send</button>
          </form>
        </div>
     
    
    
      <div class="content__section contact-information">
        <div>
          <h2>Contact infomation</h2>
        <p>Tel: <a href="tel:01748883370">01748 883370</a></p>
        <p>Email: <a href="mailto:sltaxicatterick@gmail.com">sltaxicatterick@gmail.com</a></p>
      
        </div>
        
      </div>
      </div>
      
    </div>
      
  </section>

    

    
 <section class="FAQS">
  <div class="content">
    <h2 class="text-block__h2">FAQ's</h2>
     
    <div class="qa hide-answer">
       <p class="text-block__p">Q: How much is a taxi from Catterick to Darlington ? </p><i class="fas fa-chevron-down"></i>
       <p class="text-block__p">A: We charge Special offer price of £25 for a taxi from Catterick to Darlington or Northallerton. The standard price for this journey is between £30 and £36.</p>
    </div>
     
    <div class="qa hide-answer">
       <p class="text-block__p">Q: Do you accept contactless payments ? </p><i class="fas fa-chevron-down"></i>
       <p class="text-block__p">A: Yes, we accept all major cards, we also accept contactless payments, including apple and android pay.</p>
     </div>
    
    <div class="qa hide-answer">
       <p class="text-block__p">Q: Can I book a taxi from Darlington back to Catterick ? </p><i class="fas fa-chevron-down"></i>
       <p class="text-block__p">A:Yes, we can collect from Darlington for the same price, we would normally need to take a deposit on a card for this.</p>
    </div>
       
    <div class="qa hide-answer">
       <p class="text-block__p">Q: Do we provide Airport transfers ? </p><i class="fas fa-chevron-down"></i>
  
       <p class="text-block__p">A: Yes, we can take you from Catterick to any UK airport. We are confident we can beat any local price so why not give us a call.</p>
    </div>

    <div class="home-page-link">
      <div class="content__section">
        <a href="/"><i class="fas fa-arrow-circle-left"></i> Back to homepage</a>
      </div>
    </div>

  </div>

  
    
 </section>

 <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "How much is a taxi from Catterick to Darlington ?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "A: We charge Special offer price of £25 for a taxi from Catterick to Darlington or Northallerton. The standard price for this journey is between £30 and £36. Book <a href='tel:01748883370'>01748 883370</a>."
    }
  }, {
    "@type": "Question",
    "name": "Do you accept contactless payments ?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, we accept all major cards, we also accept contactless payments, including apple and android pay."
    }
  }, {
    "@type": "Question",
    "name": "Can I book a taxi from Darlington to Catterick ?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, we can collect from Darlington for the same price, we would normally need to take a deposit on a card for this."
    }
  }, {
    "@type": "Question",
    "name": "Does SLTaxi do airport transfers ?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, we can take you from Catterick to any UK airport. We are confident we can beat any local price so why not give us a call."
    }}]
  }
</script>
    
<% include ./partials/footer %>