<!DOCTYPE html>
<html lang="en-GB">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page not found</title>
	<meta name="description" content="Go back to homepage">
	<meta name="keywords" content="page not found">
	<% include ./partials/header %>


	<div class="content">
		<p>Page not found!</p>
		<p>Whoops, you seem to have arrived at the wrong address</p>
	</div>

	<div class="home-page-link">
		<div class="content">
			<a href="/"><i class="fas fa-arrow-circle-left"></i> Back to homepage</a>
		</div>
	</div>
	<% include ./partials/footer %>