<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page not found</title>
	<meta name="description" content="Go back to homepage">
	<meta name="keywords" content="page not found">
	<% include ./partials/header %>


	<div class="text-block">
		<p class="text-block__p">Page not found!</p>
		<p class="text-block__p">Whoops, you seem to have arrived at the wrong address</p>
	</div>

	<p class="homepagelink"><a href="/">Return to Homepage</a></p>

	<% include ./partials/footer %>