<!DOCTYPE html />
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Best price taxi from Catterick to Darlington station</title>
  <meta name="description"
    content="Unbeatable taxi prices from Catterick Garrison to Darlington or Northallerton train station." />
  <meta name="keywords" content="catterick to darlington, taxi to darlington, taxi to northallerton" />
  <link href="https://sltaxicatterick.co.uk" rel="canonical" />
  <% include ./partials/header %>

  <div class="hero hero_station"></div>

  <section class="station-page">
    <div class="text-block">
      <h1 class="text-block__h1">Train transfers from Catterick garrison</h1>
      <p class="text-block__p">
        There is no train station in Catterick garrison, The closest railway
        stations are Northallerton and Darlington, 15 and 17 miles away
        respectively. We can provide a taxi from Catterick garrison to
        Darlington or Northallerton station for the special offer price of £25
        which is a saving of around £10 on the standard meter price.
      </p>
      <p class="text-block__p">
        The journey time in a taxi to either is around 25 minutes, there is
        also a bus service from Catterick to Darlington that takes around 45
        to 50 minutes. As the price to either station there might be worth
        comparing your train ticket from both stations, there might be more
        money to be saved or a more direct train.
      </p>
    </div>
    <div class="text-block">
      <h2 class="text-block__h2">Station pickups</h2>
      <p class="text-block__p">
        If you are coming in to Darlington or Northallerton station and want
        to avoid the hassle of not being able to find a taxi, we would advise
        booking your taxi in advance and we can be waiting at the station when
        you arrive, a minimum of 25 minutes before your arrival time would be
        required but you can book as far in advance as you like.
      </p>
    </div>

    <div class="text-block">
      <h2 class="text-block__h2">Is a taxi cheaper ?</h2>
      <p class="text-block__p">
        If you are travelling with a few people you should always check the
        price of your train tickets combined with the price of your taxi to
        the station, we have very competitive long distance prices, you might
        be surprised to learn it can sometimes be much cheaper for you all to
        share a taxi straight to your destination.
      </p>
      <p class="text-block__p">
        To book your taxi use our <a href="/contact">contact page</a>. Then
        just sit back and enjoy your journey, we'll send you a text message
        when your taxi arrives with the make and model of the car and the
        registration number so there is no stress locating your taxi.
      </p>
    </div>

    <div class="text-block">
      <p class="text-block__p">
        <span>Check train times here
          <a href="https://trainline.com">trainline.com</a></span>
      </p>
    </div>

    <div class="container">
      <a href="/"><i class="fas fa-arrow-circle-left"></i> Back to homepage</a>
    </div>
  </section>




  <% include ./partials/footer %>