// fonts
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';


// font-sizes
$x-small: 1.5rem;
$base: 2rem;
$heading-main: 3.7rem;
$heading-sub: 3.2rem;
// Colors descriptive

$grey: #444;
$taxi-yellow: #f7b731;
$primary-light: #eceff1;
$primary: #819ca9;
$primary-dark: #546e7a;

// content padding for different sections
$content-padding--mobile: 50px;
$content-padding--desktop: 80px;


// content width
$content-width--mobile: 95%;
$content-width--desktop: 80%;

// breakpoints

$break-m: "(min-width: 768px)";

// maps

$hero-images: (
    "main": "/imgs/googlecover",
    "station": "/imgs/stationhero",
    "airport": "/imgs/airporthero",
    "blogs": "/imgs/bloghero",
    "taxiguide": "/imgs/taxiguidehero",
    "daysout": "/imgs/daysouthero",
);

// themes

%theme-teal{
    color: rgba(white, 0.9);
    background-color: $primary-dark;
    h1,
    h2,
    h3{
        color: $primary-light;
    }

}

